@charset "UTF-8";

.boardHeader{
	height:60px;
	background-color:black;
}

.jumbotron{
	height:100px;
	margin-bottom:50px;
	padding:10 0;
}
.jumbotron h2, .container > h2{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}
.contents_subject{
	margin-bottom:50px;
}

thead tr > th, tbody tr > td {
	text-align:center;
}

.td_subject{
	text-align:left;
}

.boardInfo_textarea{
	width:100%;
	height:300px;
}
.info_content{
	height:27px;
}
.info_content > p{
	padding-top:7px;
}


#fileDiv > p{
	height:50px;
}
