@charset "UTF-8";

div[class^="col-"]{
	padding-left:0px;
	padding-right:0px;
}
input{
	padding:0px 5px;
	border-radius:0px;
}

.m-b-20{ margin-bottom : 20px;}

.loginContainer{
	width:40%;
	margin:0 auto;
	padding-top:100px;
	text-align:center;
}

.loginContents{
	margin-bottom:20px;
}

.loginContentsArea{
	width:60%;
	margin:0 auto;
}

.re-container{
	margin-top:20px;
	background:#ffffff;
	border:solid 1px gray;
	padding:10px;
}
.re-contents{
	padding-top:5px;
	padding-bottom:5px;
	display:inline-block;
}
.re-contents-input{
	margin-top:20px;
	display:inline-block;
}
.re-cp{
	float : left;
}
.re-cp-img{
	width:55px;
	height:45px;
}
.re-cp-nm{
    font-weight: 600;
    white-space: nowrap;
}
.re-cp-cont{
    word-wrap: break-word;
}


.form-control{
	border:0px solid white;
}

.blog-subject{
	border:solid 0px white; 
	border-bottom:solid 1px black;
	border-radius:0px;
	font-size:24px;
}


.viewContainer{
	height:100%;
	padding-top:15px;
}
.viewInput{
	font-size:3em;
	border:0px;
}

.span[class^="col-"], .input[class^="col-"]{
	display:flex;
	float:left;
	position:relative;
}

.viewContentContainer{
	padding-top:30px;
}



.tableScrollX{
	display : block;
	overflow-x : scroll;
	border-collapse : collapse;
}

.tbodyScrollY{
	display:block;
	overflow : auto;
}

table, thead, tbody, th, tr, td{
	border:1px solid black;
}

.reContentDiv{
	float:right;min-width:220px;width:90%;
}