@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import "https://fonts.googleapis.com/css?family=Baloo+Tamma|Source+Sans+Pro:300,300i,400,400i,700,700i|Source+Code+Pro|Lora:400,400i,700,700i|Montserrat|Open+Sans:300,400";
@font-face {
  font-family: "LexiSaebom";
  src: url("font/LexiSaebom/LexiSaebomR.eot");
  /*IE 9 호환성 보기 모드 대응*/
  src: local("☺"), url("font/LexiSaebom/LexiSaebomR.eot?#iefix") format("embedded-opentype"), url("font/LexiSaebom/LexiSaebomR.woff") format("woff");
  /*표준 브라우저*/
}
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 400;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
}

html {
  overflow-y: scroll;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: 700;
  vertical-align: bottom;
}

td {
  font-weight: 400;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: 700;
}

td, td img {
  vertical-align: top;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

button,
input[type=button] {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}

.page-close {
  z-index: 2002;
}

.page-menu {
  z-index: 2001;
}

.page-header {
  z-index: 1999;
}

.page-overlay {
  z-index: 2000;
}

.breadcrumb.affix {
  z-index: 1986;
}

.elevator {
  z-index: 29;
}

html.section-html, html.section-javascript, html.section-nodejs, html.section-tools {
  background-color: #6ecd56;
}
html.section-html .page-hero, html.section-javascript .page-hero, html.section-nodejs .page-hero, html.section-tools .page-hero {
  background-color: #6ecd56;
  background-image: linear-gradient(142deg, #bdcd56, #96cd56 31%, #6ecd56 65%, #56cd66);
}

html.section-css, html.section-es6, html.section-express {
  background-color: #f16529;
}
html.section-css .page-hero, html.section-es6 .page-hero, html.section-express .page-hero {
  background-color: #f16529;
  background-image: linear-gradient(142deg, #f1a829, #f18629 31%, #f16529 65%, #f14429);
}

html.section-bootstrap, html.section-jquery, html.section-mongodb {
  background-color: #33a9dc;
}
html.section-bootstrap .page-hero, html.section-jquery .page-hero, html.section-mongodb .page-hero {
  background-color: #33a9dc;
  background-image: linear-gradient(142deg, #33dcd7, #33c5dc 31%, #33a9dc 65%, #338ddc);
}

html.section-sass, html.section-snippet, html.section-typescript {
  background-color: #616db3;
}
html.section-sass .page-hero, html.section-snippet .page-hero, html.section-typescript .page-hero {
  background-color: #616db3;
  background-image: linear-gradient(142deg, #6188b3, #617bb3 31%, #616db3 65%, #6361b3);
}

@media screen and (min-width: 960px) {
  html.route-chapter .heading .container {
    padding: 120px 180px;
  }
}
html.route-chapter .page-content .container {
  background: none;
  box-shadow: none;
}
@media screen and (min-width: 960px) {
  html.route-chapter .page-content .container {
    padding: 0 120px;
  }
}
html.route-chapter .content {
  color: white;
  font-size: 1rem;
  padding: 0 30px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
html.route-chapter .content strong {
  color: #f4f1ce;
}
@media screen and (min-width: 960px) {
  html.route-chapter .content {
    font-size: 32px;
    padding: 0 60px;
  }
}
html.route-chapter .pagination {
  background: none;
  box-shadow: none;
}
@media screen and (min-width: 960px) {
  html.route-chapter .pagination {
    padding: 60px 60px 120px;
  }
}
html.route-chapter .page-footer {
  display: none;
}

html {
  font-size: 16px;
  min-width: 320px;
  overflow: hidden;
  overflow-y: scroll;
}

body {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  position: relative;
  color: #333333;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #d16098;
  cursor: pointer;
  text-decoration: none;
  transition: all .3s;
}
a:hover {
  color: crimson;
}

input[type="checkbox"] {
  vertical-align: baseline;
}

strong {
  color: #434b4f;
  font-weight: 600;
}

pre {
  /*
  white-space: pre-wrap
  line break	space/tab	wrapping(자동줄바꿈)
  반영	      반영	            O
  */
  white-space: pre-wrap;
  word-wrap: normal;
  word-break: break-all;
}

body,
button,
input,
textarea {
  font-family: "Lora", "LexiSaebom", "Times New Roman", serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', 'Noto Sans KR', Arial, sans-serif;
}

img {
  max-width: 90%;
}
@media screen and (min-width: 400px) {
  img {
    max-width: 90%;
  }
}
@media screen and (min-width: 600px) {
  img {
    max-width: 70%;
  }
}

code,
pre {
  font-family: "Source Code Pro", "Noto Sans KR", "Inconsolata", monospace;
  font-weight: 400;
}

.page-close-button, .pagination-next, .pagination-previous, .pagination-start, .page-newsletter-button, .elevator {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #f5f7f9;
  border: 1px solid #ebeff5;
  border-radius: 3px;
  color: #333333;
  display: inline-block;
  font-size: 16px;
  height: 32px;
  line-height: 20px;
  padding: 4px 10px 6px;
  position: relative;
  vertical-align: top;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: auto;
  line-height: 1;
  padding: 8px 12px 10px;
  text-align: left;
}
.page-close-button:active, .pagination-next:active, .pagination-previous:active, .pagination-start:active, .page-newsletter-button:active, .elevator:active, .page-close-button:focus, .pagination-next:focus, .pagination-previous:focus, .pagination-start:focus, .page-newsletter-button:focus, .elevator:focus {
  outline: none;
}
.page-close-button .fa, .pagination-next .fa, .pagination-previous .fa, .pagination-start .fa, .page-newsletter-button .fa, .elevator .fa {
  display: block;
  font-size: 21px;
  text-align: center;
  width: 24px;
  left: 20px;
  margin-top: -12px;
  position: absolute;
  top: 50%;
}
.page-close-button strong, .pagination-next strong, .pagination-previous strong, .pagination-start strong, .page-newsletter-button strong, .elevator strong {
  color: inherit;
}
.page-close-button:active, .pagination-next:active, .pagination-previous:active, .pagination-start:active, .page-newsletter-button:active, .elevator:active, .page-close-button:focus, .pagination-next:focus, .pagination-previous:focus, .pagination-start:focus, .page-newsletter-button:focus, .elevator:focus {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.page-close-button, .pagination-next {
  background: linear-gradient(#e480b2, #d16098);
  border-color: #c5397e;
  color: white;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.page-close-button:hover, .pagination-next:hover {
  background: linear-gradient(#ec92be, #d16098);
  border-color: #9d2e65;
  color: white;
}
.page-close-button:active, .pagination-next:active, .page-close-button:focus, .pagination-next:focus {
  background: #d16098;
}

.pagination-previous {
  background: linear-gradient(white, #f5f7f9);
  border-color: #d5dee6;
  color: #333333;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
  text-shadow: 0 1px 1px white;
}
.pagination-previous:hover {
  background: linear-gradient(white, #f5f7f9);
  border-color: #b5c4d3;
  color: #333333;
}
.pagination-previous:active, .pagination-previous:focus {
  background: #f5f7f9;
}

.pagination-start {
  background: linear-gradient(#eef0f3, #d3d6db);
  border-color: #b7bcc4;
  color: #333333;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
  text-shadow: 0 1px 1px white;
}
.pagination-start:hover {
  background: linear-gradient(#fdfdfe, #d3d6db);
  border-color: #9ba2ad;
  color: #333333;
}
.pagination-start:active, .pagination-start:focus {
  background: #d3d6db;
}

.page-newsletter-button, .elevator {
  background: linear-gradient(#3c4163, #2e303e);
  border-color: #181921;
  color: white;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.page-newsletter-button:hover, .elevator:hover {
  background: linear-gradient(#414878, #2e303e);
  border-color: #030303;
  color: white;
}
.page-newsletter-button:active, .elevator:active, .page-newsletter-button:focus, .elevator:focus {
  background: #2e303e;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
}
.container::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (min-width: 1100px) {
  .container {
    max-width: 1080px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.logo {
  font-family: 'Baloo Tamma', cursive;
  font-size: 1.8em;
  color: white;
  float: left;
  left: 10px;
  position: absolute;
  top: 15px;
  transition: text-shadow 0.5s ease;
}
.logo:visited {
  color: white;
}
.logo:hover {
  color: white;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 959px) {
  .logo {
    font-size: 1.5em;
  }
}

.social-icons {
  min-width: 200px;
  padding: 20px 0;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.social-icons a {
  color: #f4f1ce;
  display: inline-block;
  height: 28px;
  margin: 0 10px;
  vertical-align: top;
  width: 28px;
}
.social-icons a:hover {
  color: white;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.social-icons a:active {
  text-shadow: none;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.social-icons .fa {
  display: block;
  font-size: 28px;
  text-align: center;
  width: 32px;
}

.heading {
  color: white;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.heading .container {
  padding: 60px 30px;
}
.heading strong {
  color: inherit;
}
.heading h1,
.heading h2 {
  font-weight: 300;
}
.heading h1 {
  color: #f4f1ce;
  font-size: 28px;
}
.heading h1 em {
  font-style: normal;
  font-weight: 300;
}
.heading h2 {
  font-size: 36px;
  font-family: "Lora", "LexiSaebom", "Times New Roman", serif;
  margin-bottom: 20px;
  margin-top: 20px;
}
@media screen and (min-width: 960px) {
  .heading h1 {
    font-size: 28px;
  }
  .heading h2 {
    font-size: 48px;
  }
  .heading .container {
    padding: 120px;
  }
}

.toc-head {
  height: 40px;
}
.toc-head .container {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px 3px 0 0;
  box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(255, 255, 255, 0.1);
  height: 40px;
  color: white;
}
@media screen and (max-width: 959px) {
  .toc-head {
    display: none;
  }
}

.toc-column, .toc-column--sections, .toc-column--lessons {
  position: absolute;
  top: 8px;
  width: auto;
}
.toc-column strong, .toc-column--sections strong, .toc-column--lessons strong {
  color: white;
}

.toc-column--sections {
  left: 50px;
}

.toc-column--lessons {
  left: 325px;
}

.toc-component {
  position: relative;
}
.toc-component .container {
  background: white;
}
@media screen and (min-width: 960px) {
  .toc-component .container {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  }
}

.toc-section {
  min-height: 120px;
  position: relative;
}
@media screen and (max-width: 959px) {
  .toc-section:last-child {
    margin-bottom: 50px;
  }
}

.toc-heading {
  background: #2e303e;
  padding: 25px;
}
.toc-heading .fa {
  display: block;
  font-size: 21px;
  text-align: center;
  width: 25px;
  left: 15px;
  position: absolute;
}
.toc-heading i {
  display: block;
  font-size: 21px;
  text-align: center;
  width: 25px;
  left: 15px;
  position: absolute;
}
.toc-heading h3 {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
}
.toc-heading h3 a {
  color: white;
}
.toc-heading h3 a:hover {
  text-decoration: underline;
}
.toc-heading small {
  color: #aeb1b5;
  display: block;
}
.toc-heading em {
  display: block;
  font-style: normal;
  line-height: 1.2;
  margin-top: 10px;
}
.toc-heading em strong {
  color: #aeb1b5;
}
@media screen and (max-width: 959px) {
  .toc-heading .fa, .toc-heading i {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  .toc-heading {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    border-bottom: 1px solid #44475b;
    padding-left: 50px;
    right: auto;
    width: 270px;
  }
}

.toc-content {
  font-family: 'Montserrat', 'Noto Sans KR', Arial, sans-serif;
  padding: 15px;
  position: relative;
}
.toc-content li {
  display: block;
}
.toc-content a {
  border: 1px solid transparent;
  border-radius: 3px;
  display: block;
  padding: 5px 10px 7px;
}
.toc-content a strong {
  font-weight: 400;
}
.toc-content a:visited {
  color: #aeb1b5;
}
.toc-content a:visited strong {
  color: #aeb1b5;
}
.toc-content a:hover {
  background: linear-gradient(white, #f5f7f9);
  border-color: #d3d6db;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}
.toc-content a:active, .toc-content a:focus {
  background: #f5f7f9;
  box-shadow: none;
}
.toc-content .toc-month a, .toc-content .toc-month a:hover {
  color: #434b4f;
  font-weight: 700;
}
.toc-content .toc-month a em, .toc-content .toc-month a:hover em {
  font-style: normal;
  display: inline-block;
  width: 14px;
}
@media screen and (min-width: 960px) {
  .toc-content {
    border-bottom: 1px solid #ebeff5;
    margin-left: 270px;
    padding: 20px 25px;
    min-height: 120px;
  }
  .toc-content li a {
    padding-left: 230px;
  }
  .toc-content .toc-month {
    width: 100%;
    z-index: 1;
  }
  .toc-content .toc-month a {
    padding-left: 10px;
  }
}

.toc-section--html i,
.toc-section--html .fa,
.toc-section--html .toc-heading small span,
.toc-section--html .toc-content .toc-month em, .toc-section--javascript i,
.toc-section--javascript .fa,
.toc-section--javascript .toc-heading small span,
.toc-section--javascript .toc-content .toc-month em, .toc-section--nodejs i,
.toc-section--nodejs .fa,
.toc-section--nodejs .toc-heading small span,
.toc-section--nodejs .toc-content .toc-month em, .toc-section--angular i,
.toc-section--angular .fa,
.toc-section--angular .toc-heading small span,
.toc-section--angular .toc-content .toc-month em {
  color: #6ecd56;
  margin-right: 5px;
}

.toc-section--css i,
.toc-section--css .fa,
.toc-section--css .toc-heading small span,
.toc-section--css .toc-content .toc-month em, .toc-section--es6 i,
.toc-section--es6 .fa,
.toc-section--es6 .toc-heading small span,
.toc-section--es6 .toc-content .toc-month em, .toc-section--express i,
.toc-section--express .fa,
.toc-section--express .toc-heading small span,
.toc-section--express .toc-content .toc-month em, .toc-section--tools i,
.toc-section--tools .fa,
.toc-section--tools .toc-heading small span,
.toc-section--tools .toc-content .toc-month em {
  color: #f16529;
  margin-right: 5px;
}

.toc-section--bootstrap i,
.toc-section--bootstrap .fa,
.toc-section--bootstrap .toc-heading small span,
.toc-section--bootstrap .toc-content .toc-month em, .toc-section--jquery i,
.toc-section--jquery .fa,
.toc-section--jquery .toc-heading small span,
.toc-section--jquery .toc-content .toc-month em, .toc-section--mongodb i,
.toc-section--mongodb .fa,
.toc-section--mongodb .toc-heading small span,
.toc-section--mongodb .toc-content .toc-month em {
  color: #33a9dc;
  margin-right: 5px;
}

.toc-section--sass i,
.toc-section--sass .fa,
.toc-section--sass .toc-heading small span,
.toc-section--sass .toc-content .toc-month em, .toc-section--snippet i,
.toc-section--snippet .fa,
.toc-section--snippet .toc-heading small span,
.toc-section--snippet .toc-content .toc-month em, .toc-section--typescript i,
.toc-section--typescript .fa,
.toc-section--typescript .toc-heading small span,
.toc-section--typescript .toc-content .toc-month em {
  color: #616db3;
  margin-right: 5px;
}

.menu {
  display: none;
  margin: 0 auto;
  padding: 60px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 40px;
  left: 0px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2000;
}
@media screen and (min-width: 1100px) {
  .menu {
    max-width: 1080px;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    max-width: 1140px;
  }
}
.menu li {
  display: block;
  margin-bottom: 10px;
}
.menu a {
  display: block;
  color: white;
}

#markdown-toc {
  display: none;
  margin: 0 0 50px;
  position: relative;
}
#markdown-toc:before {
  background: #33a9dc;
  color: white;
  content: "Table of Contents";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
#markdown-toc a {
  color: #008AFF;
}
#markdown-toc a:hover {
  color: #3f51b5;
}

.page-hero {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #d16098;
  background-image: linear-gradient(142deg, #f4a35b, #f4655b 31%, #d16098 65%, #ca3469);
  position: fixed;
  transform: translateZ(0);
}

.page-hero-pattern {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  content: "";
  display: block;
  mix-blend-mode: multiply;
  opacity: 0;
}
@media screen and (min-width: 700px) {
  .page-hero-pattern {
    background: url("/images/pattern.png") repeat;
    mix-blend-mode: multiply;
  }
}

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.page-header .container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  height: 69px;
}
@media screen and (min-width: 960px) {
  .page-header .share-buttons {
    right: 0;
  }
}

/*
.page-header-icons {
  padding: 20px 0;
  text-align: center;
  text-shadow: 0 2px 3px rgba(black, 0.3);

  a {
    color: $yellow;
    display: inline-block;
    height: 28px;
    margin: 0 5px;
    vertical-align: top;
    width: 28px;

    &:hover {
      color: white;

      @include transform(scale(1.2));
    }

    &:active {
      text-shadow: none;

      @include transform(scale(1.1));
    }
  }

  .fa {
    @include fa(28px, 32px);
  }

  @include mobile {
    display: none;
  }
}
*/
.page-body {
  position: relative;
}
.page-body .index-hello {
  position: relative;
  min-height: 100vh;
  background-image: url("http://poiemaweb.com/img/bg/1920x1080.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media screen and (max-width: 959px) {
  .page-body .index-hello {
    background-attachment: scroll;
  }
}
.page-body .index-hello .hello {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 6vw;
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 959px) {
  .page-body .index-hello .hello {
    font-size: 7vw;
    top: 42%;
  }
}
.page-body .index-hello .hello h1 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #f4f1ce;
  font-size: 3vw;
  font-weight: 300;
}
@media screen and (max-width: 959px) {
  .page-body .index-hello .hello h1 {
    font-size: 4vw;
  }
}
.page-body .index-hello .social-icons {
  position: absolute;
  bottom: 10px;
  right: 50px;
  transition: all .5s;
}
@media screen and (max-width: 959px) {
  .page-body .index-hello .social-icons {
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
.page-body #scroll-icon {
  position: absolute;
  left: 50%;
  bottom: 20px;
  font-size: 36px;
  color: white;
  cursor: pointer;
  opacity: 1;
  animation: glow 4s infinite;
}
@media screen and (max-width: 959px) {
  .page-body #scroll-icon {
    display: none;
  }
}
@keyframes glow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
    transform: translateY(10px);
  }
}
.page-body .index-title {
  color: beige;
  font-weight: bold;
  padding: 50px 0;
  text-align: center;
  font-size: 3.5vw;
}
@media screen and (max-width: 959px) {
  .page-body .index-title {
    display: none;
  }
}

.page-container {
  padding-top: 69px;
}

.page-content .container {
  background: white;
}
@media screen and (min-width: 960px) {
  .page-content .container {
    border-radius: 3px 3px 0 0;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
  }
}

.page-newsletter {
  background-color: crimson;
  background-image: linear-gradient(142deg, #dc147f, #dc145d 31%, crimson 65%, #dc141b);
  color: #f4f1ce;
  padding: 30px;
  position: relative;
}
.page-newsletter strong {
  color: inherit;
}
@media screen and (min-width: 960px) {
  .page-newsletter {
    padding: 60px 40px 80px;
  }
}

.page-newsletter-heading {
  position: relative;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.page-newsletter-heading .icons {
  display: block;
  height: 120px;
  margin: 0 auto;
  position: relative;
  width: 120px;
}
.page-newsletter-heading .icons .fa {
  display: block;
  font-size: 42px;
  text-align: center;
  width: 120px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.page-newsletter-heading .icons .fa-television {
  font-size: 84px;
}
.page-newsletter-heading .icons .fa-play-circle {
  color: white;
  left: -3px;
  top: -6px;
}
.page-newsletter-heading h3 {
  color: white;
  font-size: 32px;
  line-height: 1;
  position: relative;
}
.page-newsletter-heading p {
  font-size: 18px;
}
@media screen and (min-width: 960px) {
  .page-newsletter-heading h3 {
    font-size: 40px;
  }
  .page-newsletter-heading p {
    font-size: 20px;
    margin-top: 5px;
  }
}

.page-newsletter-form {
  margin: 30px auto 0;
  max-width: 480px;
}

.page-newsletter-group {
  position: relative;
}
.page-newsletter-group .fa {
  color: #aeb1b5;
  font-size: 14px;
  pointer-events: none;
  position: absolute;
  left: 10px;
  top: 10px;
}
.page-newsletter-group label.error {
  cursor: default;
  display: block;
  font-size: 14px;
  margin: 5px 0 10px;
}
@media screen and (min-width: 960px) {
  .page-newsletter-group {
    padding-right: 100px;
  }
}

.page-newsletter-input {
  border: none;
  border-radius: 3px;
  display: block;
  outline: none;
  padding: 6px 12px 8px 32px;
  width: 100%;
}
@media screen and (max-width: 959px) {
  .page-newsletter-input {
    margin-bottom: 10px;
  }
}

.page-newsletter-button.loading {
  background: #2e303e;
  border-color: transparent;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.3);
  cursor: progress;
}
@media screen and (min-width: 960px) {
  .page-newsletter-button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.page-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  position: fixed;
}

.page-menu {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-overflow-scrolling: touch;
  bottom: 78px;
  display: none;
  min-height: calc(100vh - 30px);
  overflow: scroll;
  overflow-x: hidden;
  position: fixed;
}
@media screen and (min-width: 960px) {
  .page-menu {
    bottom: 0;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.86);
    left: 50%;
    margin-left: -480px;
    right: auto;
    position: fixed;
    width: 960px;
  }
}
@media screen and (min-width: 1100px) {
  .page-menu {
    margin-left: -540px;
    width: 1080px;
  }
}
@media screen and (min-width: 1200px) {
  .page-menu {
    margin-left: -570px;
    width: 1140px;
  }
}

.page-close {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: #f5f7f9;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(0, 0, 0, 0.05);
  display: none;
  padding: 15px;
  position: fixed;
  top: auto;
}
@media screen and (min-width: 960px) {
  .page-close {
    display: none;
  }
}

.page-close-button {
  display: block;
  padding: 15px;
  text-align: center;
}

html.has-menu-open {
  overflow: hidden;
}
html.has-menu-open .page-overlay,
html.has-menu-open .page-menu,
html.has-menu-open .page-close {
  display: block;
}
@media screen and (min-width: 960px) {
  html.has-menu-open .page-close {
    display: none;
  }
}

.share-buttons {
  height: 20px;
  overflow: hidden;
  position: relative;
}
.share-buttons .twitter-share-button {
  position: absolute;
}
.share-buttons .twitter-share-button, .share-buttons .twitter-share-button:visited {
  color: transparent;
}

.share-button--twitter, .share-button--facebook {
  color: transparent;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin: 0 10px;
  position: absolute;
  text-shadow: none;
  top: 0;
  vertical-align: top;
}
.share-button--twitter a, .share-button--facebook a, .share-button--twitter a:visited, .share-button--facebook a:visited {
  color: transparent;
}

.share-button--twitter {
  right: 50%;
}

.share-button--facebook {
  left: 50%;
}

.fb_iframe_widget {
  display: inline-block;
  vertical-align: top;
}
.fb_iframe_widget span {
  display: inline-block;
  vertical-align: top !important;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.content {
  padding: 30px;
}
@media screen and (min-width: 960px) {
  .content {
    font-size: 1rem;
    padding: 60px;
  }
}
.content img {
  display: block;
  margin: 20px auto;
}
@media screen and (min-width: 960px) {
  .content img {
    max-width: 550px;
    margin: 30px auto;
  }
}
.content .desc-img {
  color: gray;
  font-size: 85%;
  text-align: center;
  margin-top: -20px;
}
.content code {
  background-color: #f9f2f4;
  border-radius: 3px;
  color: #c7254e;
  font-size: 90%;
  padding: 3px 5px 3px;
}
.content code.highlighter-rouge {
  margin: 0;
}
.content .result {
  position: relative;
  font-family: sans-serif;
  border: 1px solid #f4f1ce;
  color: black;
  margin: 30px 0;
  padding: 15px;
}
.content .result:before {
  background: #f4f1ce;
  color: rgba(0, 0, 0, 0.5);
  content: "Result";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
.content .result a:link, .content .result a:visited {
  color: inherit;
  text-decoration: underline;
  cursor: auto;
}
.content .result a:link:active, .content .result a:visited:active {
  color: inherit;
}
.content .result:before {
  top: -15px;
}
.content .result iframe {
  width: 100%;
  height: 100%;
}
.content .result.h-1000 {
  height: 1000px;
}
.content > dl {
  background: #f5f7f9;
  color: #333333;
  font-size: 0.95em;
}
.content > dl dt {
  font-weight: 700;
  padding: 15px;
  padding-bottom: 0;
}
.content > dl dd {
  padding: 15px;
  padding-top: 0;
}
.content > dl dd + dt {
  border-top: 1px solid white;
}
.content h1 {
  color: #434b4f;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 30px 0;
  padding-top: 30px;
  position: relative;
  top: 1px;
}
.content h1 a {
  font-weight: 300;
  display: block;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 100%;
  text-align: center;
  text-decoration: none;
  top: 40px;
  width: 30px;
}
.content h1 a:hover {
  color: #434b4f;
}
.content h1:first-child {
  margin-top: 0;
  padding-top: 0;
}
.content h1:first-child a {
  top: 0;
}
@media screen and (min-width: 960px) {
  .content h1 a {
    background: rgba(255, 255, 255, 0.86);
    border-radius: 25px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    height: 50px;
    line-height: 50px;
    margin-right: 35px;
    top: 25px;
    width: 50px;
  }
  .content h1 a:hover {
    background: white;
  }
  .content h1:first-child a {
    top: -5px;
  }
}
.content h2 {
  color: #434b4f;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px 0;
  padding-top: 30px;
  position: relative;
  top: 1px;
}
.content h2 a {
  font-weight: 300;
  display: block;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 100%;
  text-align: center;
  text-decoration: none;
  top: 40px;
  width: 30px;
}
.content h2 a:hover {
  color: #434b4f;
}
.content h2:first-child {
  margin-top: 0;
  padding-top: 0;
}
.content h2:first-child a {
  top: 0;
}
@media screen and (min-width: 960px) {
  .content h2 a {
    background: rgba(255, 255, 255, 0.86);
    border-radius: 25px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    height: 50px;
    line-height: 50px;
    margin-right: 35px;
    top: 25px;
    width: 50px;
  }
  .content h2 a:hover {
    background: white;
  }
  .content h2:first-child a {
    top: -5px;
  }
}
@media screen and (max-width: 959px) {
  .content h2 .header-link {
    top: 35px;
  }
}
.content h3 {
  color: #434b4f;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 30px 0;
  padding-top: 30px;
  position: relative;
  top: 1px;
}
.content h3 a {
  font-weight: 300;
  display: block;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 100%;
  text-align: center;
  text-decoration: none;
  top: 40px;
  width: 30px;
}
.content h3 a:hover {
  color: #434b4f;
}
.content h3:first-child {
  margin-top: 0;
  padding-top: 0;
}
.content h3:first-child a {
  top: 0;
}
@media screen and (min-width: 960px) {
  .content h3 a {
    background: rgba(255, 255, 255, 0.86);
    border-radius: 25px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    height: 50px;
    line-height: 50px;
    margin-right: 35px;
    top: 25px;
    width: 50px;
  }
  .content h3 a:hover {
    background: white;
  }
  .content h3:first-child a {
    top: -5px;
  }
}
@media screen and (max-width: 959px) {
  .content h3 .header-link {
    top: 34px;
  }
}
.content h4 {
  color: #434b4f;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 30px 0;
  padding-top: 30px;
  position: relative;
  top: 1px;
}
.content h4 a {
  font-weight: 300;
  display: block;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 100%;
  text-align: center;
  text-decoration: none;
  top: 40px;
  width: 30px;
}
.content h4 a:hover {
  color: #434b4f;
}
.content h4:first-child {
  margin-top: 0;
  padding-top: 0;
}
.content h4:first-child a {
  top: 0;
}
@media screen and (min-width: 960px) {
  .content h4 a {
    background: rgba(255, 255, 255, 0.86);
    border-radius: 25px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    height: 50px;
    line-height: 50px;
    margin-right: 35px;
    top: 25px;
    width: 50px;
  }
  .content h4 a:hover {
    background: white;
  }
  .content h4:first-child a {
    top: -5px;
  }
}
.content h5 {
  color: #434b4f;
  font-size: 1rem;
  font-weight: 700;
  margin: 30px 0;
  padding-top: 30px;
  position: relative;
  top: 1px;
}
.content h5 a {
  font-weight: 300;
  display: block;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 100%;
  text-align: center;
  text-decoration: none;
  top: 40px;
  width: 30px;
}
.content h5 a:hover {
  color: #434b4f;
}
.content h5:first-child {
  margin-top: 0;
  padding-top: 0;
}
.content h5:first-child a {
  top: 0;
}
@media screen and (min-width: 960px) {
  .content h5 a {
    background: rgba(255, 255, 255, 0.86);
    border-radius: 25px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    height: 50px;
    line-height: 50px;
    margin-right: 35px;
    top: 25px;
    width: 50px;
  }
  .content h5 a:hover {
    background: white;
  }
  .content h5:first-child a {
    top: -5px;
  }
}
.content p {
  margin: 1em 0;
  font-size: 1rem;
}
.content p:first-child {
  margin-top: 0;
}
.content p:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 960px) {
  .content p.w-100 img {
    max-width: 100px;
  }
}
@media screen and (min-width: 960px) {
  .content p.w-250 img {
    max-width: 250px;
  }
}
@media screen and (min-width: 960px) {
  .content p.w-300 img {
    max-width: 300px;
  }
}
@media screen and (min-width: 960px) {
  .content p.w-350 img {
    max-width: 350px;
  }
}
@media screen and (min-width: 960px) {
  .content p.w-400 img {
    max-width: 400px;
  }
}
@media screen and (min-width: 960px) {
  .content p.w-450 img {
    max-width: 450px;
  }
}
@media screen and (min-width: 960px) {
  .content p.w-650 img {
    max-width: 650px;
  }
}
@media screen and (min-width: 960px) {
  .content p.w-700 img {
    max-width: 700px;
  }
}
.content #markdown-toc {
  list-style-type: none;
  padding: 30px 30px 15px;
}
.content #markdown-toc ul {
  list-style-type: none;
  margin: 10px 0;
}
.content #markdown-toc ul ul {
  list-style-type: none;
}
@media screen and (min-width: 960px) {
  .content #markdown-toc {
    padding: 40px 40px 20px;
  }
}
.content li + li {
  margin-top: 5px;
}
.content ul {
  list-style: disc outside;
  margin: 15px 0;
  padding-left: 1.5em;
}
.content ul ul {
  list-style-type: circle;
}
.content ul ul ul {
  list-style-type: square;
}
.content ul.files {
  font-family: "Source Code Pro", "Noto Sans KR", "Inconsolata", monospace;
  font-weight: 400;
}
.content ul.software {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
.content ul.software:after {
  clear: both;
  content: " ";
  display: table;
}
.content ul.software li {
  float: left;
  margin-bottom: 15px;
  width: 50%;
}
.content ul.software li img {
  max-height: 64px;
}
.content ul.software li strong {
  display: block;
  line-height: 1;
  margin-top: 5px;
}
@media screen and (min-width: 960px) {
  .content ul.software li {
    margin: 0;
    width: 20%;
  }
}
.content ol {
  margin: 15px 0;
  padding-left: 1.5em;
}
.content .highlighter-rouge {
  margin: 30px -30px;
  overflow: auto;
  outline: none;
}
@media screen and (min-width: 960px) {
  .content .highlighter-rouge {
    margin: 30px -60px;
  }
}
.content .highlighter-rouge .highlight code {
  position: relative;
  background: inherit;
  color: inherit;
  display: block;
  padding: 30px;
  top: 0;
}
.content .highlighter-rouge .highlight code:before {
  background: #f4f1ce;
  color: rgba(0, 0, 0, 0.5);
  content: "Code";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
@media screen and (min-width: 960px) {
  .content .highlighter-rouge .highlight code {
    padding: 30px 60px;
  }
}
.content .highlighter-rouge.language-html code {
  position: relative;
}
.content .highlighter-rouge.language-html code:before {
  background: #6ecd56;
  color: white;
  content: "HTML";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
.content .highlighter-rouge.language-css code {
  position: relative;
}
.content .highlighter-rouge.language-css code:before {
  background: #f16529;
  color: white;
  content: "CSS";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
.content .highlighter-rouge.language-scss code {
  position: relative;
}
.content .highlighter-rouge.language-scss code:before {
  background: #616db3;
  color: white;
  content: "Sass";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
.content .highlighter-rouge.language-javascript code {
  position: relative;
}
.content .highlighter-rouge.language-javascript code:before {
  background: #6ecd56;
  color: white;
  content: "JavaScript";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
.content .highlighter-rouge.language-bash code {
  position: relative;
}
.content .highlighter-rouge.language-bash code:before {
  background: #33a9dc;
  color: white;
  content: "bash";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
.content .highlighter-rouge.language-c code {
  position: relative;
}
.content .highlighter-rouge.language-c code:before {
  background: #33a9dc;
  color: white;
  content: "C";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
.content .highlighter-rouge.language-java code {
  position: relative;
}
.content .highlighter-rouge.language-java code:before {
  background: #616db3;
  color: white;
  content: "Java";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
.content .highlighter-rouge.language-sql code {
  position: relative;
}
.content .highlighter-rouge.language-sql code:before {
  background: #6ecd56;
  color: white;
  content: "SQL";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
.content .highlighter-rouge.language-json code {
  position: relative;
}
.content .highlighter-rouge.language-json code:before {
  background: #f16529;
  color: white;
  content: "json";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
.content .highlighter-rouge.language-typescript code {
  position: relative;
}
.content .highlighter-rouge.language-typescript code:before {
  background: #616db3;
  color: white;
  content: "typescript";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
.content .highlighter-rouge.language-typescript code .err {
  background-color: transparent;
}
.content .answer,
.content .important,
.content .info,
.content #markdown-toc,
.content blockquote p,
.content blockquote ol {
  background: rgba(51, 169, 220, 0.1);
  border-left: 0.25em solid #33a9dc;
  color: rgba(0, 0, 0, 0.5);
  padding: 25px;
}
@media screen and (min-width: 960px) {
  .content .answer,
  .content .important,
  .content .info,
  .content #markdown-toc,
  .content blockquote p,
  .content blockquote ol {
    padding: 35px;
  }
}
.content .answer {
  background: rgba(110, 205, 86, 0.1);
  border-left-color: #6ecd56;
}
.content .answer .question {
  color: #2e303e;
  display: block;
  font-weight: 700;
}
.content .answer .question + br {
  display: none;
}
.content .important {
  background: rgba(220, 20, 60, 0.1);
  border-left-color: crimson;
}
.content table {
  font-size: .9rem;
  background: #fafafa;
  width: 100%;
  overflow: auto;
}
@media screen and (max-width: 959px) {
  .content table {
    table-layout: fixed;
    word-break: break-all;
  }
}
.content table th,
.content table td {
  border: 1px solid #ccc;
  padding: 0.5em 1em;
  vertical-align: top;
}
.content table th.empty,
.content table td.empty {
  background: white;
  border: none;
}
.content table th.no,
.content table td.no {
  color: crimson;
}
.content table th.yes span,
.content table td.yes span {
  background: #6ecd56;
  color: white;
  padding: 2px 5px;
}
.content table th {
  background: #eee;
  font-weight: 400;
  text-align: left;
}
.content table th strong {
  display: block;
}
.content table code {
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: top;
}
.content table pre {
  margin: 0;
  padding: 0;
}
.content table pre:before {
  display: none;
}
@media screen and (min-width: 960px) {
  .content table {
    margin: 30px 0;
  }
}
.content .footnotes {
  border-top: 1px solid #ebeff5;
  font-size: 0.875em;
  margin-top: 1em;
  padding: 1em 1em 0;
}
.content .title {
  background: #ffdd57;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  padding: 0.1em 0.5em 0.15em;
  vertical-align: top;
  font-weight: bold;
}
.content .fb-like-box {
  position: fixed;
  bottom: 94px;
  right: 0px;
  z-index: 30;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
.content .fb-like-box.active {
  transform: translateX(0);
}
.content .fb-like-box .close {
  width: 20px;
  height: 20px;
  background: transparent;
  border: 0;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  outline: none;
  z-index: 10;
}
.content .fb-like-box:before, .content .fb-like-box:after {
  position: absolute;
  top: 21px;
  right: 15px;
  background-color: #f6f7f9;
  content: "";
  width: 20px;
  height: 2px;
  margin-left: -12px;
  margin-top: -2px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
.content .fb-like-box:before:hover, .content .fb-like-box:after:hover {
  background-color: #e9ebee;
}
.content .fb-like-box:after {
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}

.breadcrumb-holder {
  height: 40px;
  position: relative;
}

.breadcrumb {
  background-color: #f4f1ce;
  background-image: linear-gradient(#fffde9, #f4f1ce);
  box-shadow: inset 0 1px 0 white, inset 0 -3px 5px rgba(0, 0, 0, 0.05);
  height: 40px;
  text-shadow: 0 1px 0 white;
  will-change: scroll-position;
}
.breadcrumb.affix {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
}
@media screen and (min-width: 960px) {
  .breadcrumb.affix {
    width: 960px;
  }
}
@media screen and (min-width: 1100px) {
  .breadcrumb.affix {
    width: 1080px;
  }
}
@media screen and (min-width: 1200px) {
  .breadcrumb.affix {
    width: 1140px;
  }
}
@media screen and (min-width: 960px) {
  .breadcrumb {
    border-radius: 3px 3px 0 0;
  }
  .breadcrumb.affix {
    border-radius: 0;
  }
}
@media print {
  .breadcrumb {
    display: none;
  }
}

.breadcrumb-toggle {
  display: block;
  float: left;
  height: 40px;
  padding: 15px 13px 0 12px;
  position: relative;
  width: 41px;
}
.breadcrumb-toggle:before, .breadcrumb-toggle:after {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  content: "";
  display: block;
  left: auto;
  width: 1px;
}
.breadcrumb-toggle:before {
  right: 1px;
}
.breadcrumb-toggle:after {
  background: linear-gradient(rgba(255, 255, 255, 0), white);
}
.breadcrumb-toggle span {
  background: #b5b188;
  box-shadow: 0 1px 0 white;
  display: block;
  height: 1px;
}
.breadcrumb-toggle span + span {
  margin-top: 4px;
}

.breadcrumb-section {
  font-family: 'Montserrat', 'Noto Sans KR', Arial, sans-serif;
  color: #b5b188;
  float: left;
  height: 40px;
  line-height: 33px;
  padding: 5px 10px;
  text-transform: uppercase;
}
.breadcrumb-section .fa {
  display: block;
  font-size: 21px;
  text-align: center;
  width: 30px;
  float: left;
  margin: 1px 5px 0 0;
  height: 30px;
  line-height: 30px;
}
.breadcrumb-section i {
  display: block;
  font-size: 21px;
  text-align: center;
  width: 30px;
  float: left;
  margin: 1px 5px 0 0;
  height: 30px;
  line-height: 30px;
}
.breadcrumb-section .fa-globe {
  color: #6ecd56;
}
.breadcrumb-section .fa-html5 {
  color: #6ecd56;
}
.breadcrumb-section .fa-css3 {
  color: #f16529;
}
.breadcrumb-section .fa-rocket {
  color: #616db3;
}

.breadcrumb-next, .breadcrumb-previous, .breadcrumb-toc {
  display: block;
  float: right;
  height: 40px;
  overflow: hidden;
  padding-left: 1px;
  position: relative;
  text-align: center;
  width: 41px;
}
.breadcrumb-next span, .breadcrumb-previous span, .breadcrumb-toc span {
  display: block;
  position: absolute;
  text-indent: -290486px;
}
.breadcrumb-next .fa, .breadcrumb-previous .fa, .breadcrumb-toc .fa {
  display: block;
  font-size: 21px;
  text-align: center;
  width: 40px;
  color: #b5b188;
  height: 40px;
  line-height: 40px;
}
.breadcrumb-next:before, .breadcrumb-previous:before, .breadcrumb-toc:before, .breadcrumb-next:after, .breadcrumb-previous:after, .breadcrumb-toc:after {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  content: "";
  display: block;
  right: auto;
  width: 1px;
}
.breadcrumb-next:after, .breadcrumb-previous:after, .breadcrumb-toc:after {
  background: linear-gradient(rgba(255, 255, 255, 0), white);
  left: 1px;
}

.elevator {
  display: block;
  font-size: 16px;
  height: auto;
  line-height: 24px;
  margin: 15px;
  padding: 20px;
  text-align: center;
}
@media screen and (min-width: 960px) {
  .elevator {
    bottom: 0;
    position: fixed;
    right: 0;
  }
  .elevator .fa {
    left: 50%;
    margin-left: -12px;
  }
  .elevator span {
    display: none;
  }
}
@media print {
  .elevator {
    display: none;
  }
}

.pagination {
  background: #f5f7f9;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(0, 0, 0, 0.05);
  padding: 40px 30px;
}
.pagination::after {
  clear: both;
  content: "";
  display: table;
}

.pagination-start, .pagination-previous, .pagination-next {
  display: block;
  font-size: 20px;
  height: auto;
  padding: 15px 20px 18px;
  text-align: left;
}
.pagination-start em, .pagination-previous em, .pagination-next em {
  color: inherit;
  display: block;
  font-size: 0.75em;
  opacity: 0.5;
}
.pagination-start > strong, .pagination-previous > strong, .pagination-next > strong {
  display: block;
  margin-top: 2px;
}
@media print {
  .pagination-start, .pagination-previous, .pagination-next {
    display: none;
  }
}

.pagination-start {
  border: none;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  padding: 20px 25px;
}
.pagination-start strong {
  padding-bottom: 3px;
}
@media screen and (min-width: 960px) {
  .pagination-start {
    border-radius: 5px;
    font-size: 24px;
    padding: 25px 30px;
  }
  .pagination-start strong {
    margin-top: 5px;
  }
}

@media screen and (max-width: 959px) {
  .pagination-previous {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  .pagination-previous {
    float: left;
    width: 33.3333%;
  }
}

@media screen and (min-width: 960px) {
  .pagination-next {
    float: right;
    width: 33.3333%;
  }
}

.CodeMirror {
  margin: 30px -30px;
  overflow: auto;
  outline: none;
  height: auto;
}
@media screen and (min-width: 960px) {
  .CodeMirror {
    margin: 30px -60px;
  }
}
.CodeMirror.cm-s-default {
  background-color: #f8f8f8;
}
.CodeMirror code {
  position: relative;
  background: inherit;
  color: inherit;
  display: block;
  padding: 30px;
  top: 0;
}
.CodeMirror code:before {
  background: #f4f1ce;
  color: rgba(0, 0, 0, 0.5);
  content: "Code";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
@media screen and (min-width: 960px) {
  .CodeMirror code {
    padding: 30px 60px;
  }
}
.CodeMirror .language-html {
  position: relative;
}
.CodeMirror .language-html:before {
  background: #6ecd56;
  color: white;
  content: "HTML";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
.CodeMirror .language-css {
  position: relative;
}
.CodeMirror .language-css:before {
  background: #f16529;
  color: white;
  content: "CSS";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
.CodeMirror .language-scss {
  position: relative;
}
.CodeMirror .language-scss:before {
  background: #616db3;
  color: white;
  content: "Sass";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
.CodeMirror .language-javascript {
  position: relative;
}
.CodeMirror .language-javascript:before {
  background: #6ecd56;
  color: white;
  content: "JavaScript";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
.CodeMirror .language-bash {
  position: relative;
}
.CodeMirror .language-bash:before {
  background: #33a9dc;
  color: white;
  content: "bash";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
.CodeMirror .language-c {
  position: relative;
}
.CodeMirror .language-c:before {
  background: #33a9dc;
  color: white;
  content: "C";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
.CodeMirror .language-java {
  position: relative;
}
.CodeMirror .language-java:before {
  background: #616db3;
  color: white;
  content: "Java";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
.CodeMirror .language-sql {
  position: relative;
}
.CodeMirror .language-sql:before {
  background: #6ecd56;
  color: white;
  content: "SQL";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
.CodeMirror .language-json {
  position: relative;
}
.CodeMirror .language-json:before {
  background: #f16529;
  color: white;
  content: "json";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
.CodeMirror .language-typescript {
  position: relative;
}
.CodeMirror .language-typescript:before {
  background: #616db3;
  color: white;
  content: "typescript";
  display: inline-block;
  font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: -1px;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}

footer {
  font-size: 14px;
  text-align: center;
  color: snow;
  background: #E90052;
  position: relative;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
footer .container {
  padding: 30px;
}
footer .social-icons a {
  color: white;
}
footer a {
  color: snow;
}
footer a:hover {
  color: white;
}
footer strong {
  color: white;
}
@media screen and (max-width: 959px) {
  footer form {
    text-align: center;
  }
  footer p {
    margin-top: 1em;
  }
}
@media screen and (min-width: 960px) {
  footer .container {
    padding: 60px 0;
  }
}
@media print {
  footer {
    display: none;
  }
}
