@charset "UTF-8";

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: 400;
	vertical-align: baseline;
	background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
	display: block;
}

html {
	box-sizing: border-box;
	overflow-y: scroll;
}

img, object, embed {
	max-width: 100%;
}

body{
	font-family: "Nanum Barunpen;
	width:80%;
}

/* header */
.page-header {
  position: relative;
  top: 0;
  left: 0;
  margin-top:0px;
  width: 100%;
  background-color:white;
  height : 40px
}
.page-header .container {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	height: 40px;
}

#page-logo {
	top:7px;
	font-size: 1.2em;
	color: black;
	float: left;
	position: absolute;
	transition: text-shadow 0.5s ease;
	height : 100%;
}
#logo:visited {
  color: black;
}
#logo:hover {
  color: green;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

#login, #logout{
	position:absolute;
	display:inline-block;
	height:100%;
	width:60px;
	right:0px;
	font-size:1em;
	top:7px;
}


/**/
#body{
	margin-top:40px;
	width:100%;
}
/*
Left Navi
기본화면 화면비율 20%
작을때 아이콘표시
핸드폰아이콘 뷰앤하이드
*/
nav{
	
}
.nav-container{
	overflow-y: scroll;
	height:100%;
	width:100%;
}

/*
Blog영
*/
article {
}


#loginTitle{
	height:44px;
}
.loginInputTotal{
	width:100%;
	height:40px;
	padding-left:10px;
}
.loginInputLeft{
	width:80%;
	height:40px;
	padding-left:10px;
}
.loginInputRight{
	display:inline-block;
	width:20%;
	height:40px;
	padding-left:5px;
	background:white;
}


.page-title {
  bottom: 0;
  left: 0;
  /* position: absolute; */
  right: 0;
  top: 0;
/*   background-color: #d16098;
  background-image: linear-gradient(142deg, #f4a35b, #f4655b 31%, #d16098 65%, #ca3469); */
  position: fixed;
  transform: translateZ(0);
  z-index:999;
  height:60px;
}



.page-container {
  padding-top: 69px;
}

.page-content .container {
  background: white;
}
@media screen and (min-width: 960px) {
  .page-content .container {
    border-radius: 3px 3px 0 0;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
  }
}

.container {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
}
.container::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (min-width: 1100px) {
  .container {
    max-width: 1080px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}




/* footer */



 
.p-0{padding:0 auto;}
.p-5{padding:5 auto;}
.p-10{padding:10 auto;}
.p-15{padding:15 auto;}
.p-20{padding:20 auto;}
.p-25{padding:25 auto;}

.m-0{margin:0 auto;}
.m-5{margin:5 auto;}
.m-10{margin:10 auto;}
.m-15{margin:15 auto;}
.m-20{margin:20 auto;}
.m-25{margin:25 auto;}

.m-b-0{margin-bottom:0px;}
.m-b-5{margin-bottom:5px;}
.m-b-10{margin-bottom:10px;}
.m-b-15{margin-bottom:15px;}
.m-b-20{margin-bottom:20px;}
.m-b-25{margin-bottom:25px;}
.m-b-30{margin-bottom:30px;}
.m-b-35{margin-bottom:35px;}
.m-b-40{margin-bottom:40px;}
.m-b-45{margin-bottom:45px;}

.m-t-0{margin-top:0px;}
.m-t-5{margin-top:5px;}
.m-t-10{margin-top:10px;}
.m-t-15{margin-top:15px;}
.m-t-20{margin-top:20px;}
.m-t-25{margin-top:25px;}
.m-t-30{margin-top:30px;}
.m-t-35{margin-top:35px;}
.m-t-40{margin-top:40px;}
.m-t-45{margin-top:45px;}


 
.genderSelect, .genderSelect:active, .genderSelect:hover, .genderSelect:focus{
	background:#1FBC02;
}

