<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
  <display-name>comPlatform-temp System</display-name>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath:config/log4j/log4j.xml</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
    	classpath:config/spring/common-context.xml
    	classpath:config/spring/bean-application.xml
    </param-value>
  </context-param>
  <listener>
    <listener-class>com.core.web.listener.ReloadLogConfigListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.core.web.listener.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
<!--   <filter>
    <filter-name>comServletFilter</filter-name>
    <filter-class>com.core.web.filter.comServletFilter</filter-class>
  </filter> -->
<!--   <filter-mapping>
    <filter-name>comServletFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>HttpAuthorityFilter</filter-name>
    <filter-class>com.comm.filter.HttpAuthorityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HttpAuthorityFilter</filter-name>
    <url-pattern>/ctrl/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>HttpExceptionFilter</filter-name>
    <filter-class>com.comm.filter.HttpExceptionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HttpExceptionFilter</filter-name>
    <url-pattern>/ctrl/*</url-pattern>
  </filter-mapping> -->
  <context-param>
    <param-name>contextLoaderAdapter</param-name>
    <param-value>com.core.web.listener.adapter.ParagonContextLoaderAdapter</param-value>
  </context-param>
  <context-param>
    <param-name>systemConfigLocation</param-name>
    <param-value>classpath:config/app/app_info.xml</param-value>
  </context-param>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
			classpath:config/spring/servlet-context.xml
		</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <distributable/>
</web-app>